<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php-5.3.9-nts-x86-web" />
            <add name="php-5.3.9-nts-x86-web" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="F:\PHPWAMP\phpcustom\server\php-5.3.9-nts-x86-web\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>