<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交成功</title>
    <link rel="stylesheet" href="/static/index/release/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" style="margin-top: 200px;"><p style="color: green;font-size: 75px;">提交成功!</p></div>
        <div class="col-xs-12 text-center"><img src="/static/index/release/imgs/thanks.jpg" alt="" style="width: 800px;height: 800px"></div>
    </div>
</div>

<script type="text/javascript" src="/static/index/release/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/index/release/js/bootstrap.min.js"></script>
</body>
</html>